{% extends "base.html" %}

{% block css_style %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='interests.css') }}">	
{% endblock css_style %}

{% block script %} 
  <script src="{{ url_for('static', filename='interests.js') }}"></script>
{% endblock script %}

{% block content %}
    <div class="container pt-5">
      <div class="container mt-5 mb-5">
        <h1>Step 3: Select your interest</p>
      </div>
      <div class="container mt-3">
        <div class="row">
          <form method="post" class="col-12">
             <div class="form-row btn-group btn-group-toggle" data-toggle="buttons">
              {% for cat in categories %}

              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mt-3">
                <label class="btn btn-outline-info" for="{{ cat.name }} {{ cat.name ~ '_img' }}">
                  <div class="col-12">
                    <img class="img-circle h-25 mt-3" id="{{ cat.name ~ '_img' }}" src="{{ url_for('static', filename=cat.icon) }}" >
                  </div>
                  <div class="col-12">
                    <input style="display: none" type="checkbox" name="categories" id="{{ cat.name }}" value="{{ cat.name }}">{{ cat.name}}
                  </div>
                </label>
              </div>
              {% endfor %}
            </div>
              <div class="container-fluid mt-3">
                <div class="row">
                  <button class="btn btn-lg btn-primary col-xs-6 offset-xs-3 col-md-4 offset-md-4 col-lg-3 offset-lg-9" type="submit">Next</button>
                </div>
              </div>
          </form>
        </div>
      </div>

{% endblock content %}