{% extends "base.html" %}

{% block css_style %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='language.css') }}">	
{% endblock css_style %}

{% block script %} 
  <script src="{{ url_for('static', filename='language.js') }}"></script>
{% endblock script %}

{% block content %}
    <div class="container pt-5">
      <div class="container mt-5 mb-5">
        <h1>Step 1: Choose your langauge</p>
      </div>
      <div class="container mt-3">
        <div class="row">
          <form method="post" class="col-12">
             <div class="form-row btn-group btn-group-toggle" data-toggle="buttons">
              {% for lang in langs %}

              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mt-3">
                <label class="btn btn-outline-info" for="{{ lang.name }} {{ lang.name ~ '_icon'}}">
                  <div class="col-12">
                    <img class="container-fluid h-25 mt-3" id="{{ lang.name ~ '_icon'}}" src="{{ lang.flag }}" >
                  </div>
                  <div class="col-12">
                    <input style="display: none" type="radio" name="lang" id="{{ lang.name }}" value="{{ lang.name }}">{{ lang.name}}
                  </div>
                </label>
              </div>
              {% endfor %}
            </div>
              <div class="container-fluid mt-3">
                <div class="row">
                  <button class="btn btn-lg btn-primary col-xs-6 offset-xs-3 col-md-4 offset-md-4 col-lg-3 offset-lg-9" type="submit">Next</button>
                </div>
              </div>
          </form>
        </div>
      </div>

{% endblock content %}