<div id="app-content" v-on:next="nextPage">
    <div v-if="snackbarData.showSnackbar" class="show" id="snackbar">Thank you for rating!</div>

    <nav id="contentSideBar" class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fas fa-align-left"></i>
                <span>Menu</span>
            </button>
            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-align-justify"></i>
            </button>
            <article-paginator v-if="loading !== true" v-bind:settings="{last_id_prev: last_id_prev, last_id_next: last_id_next, first_page: first_page, last_page: last_page}"></article-paginator>
        </div>
    </nav>

    <h1>Articles</h1>
    <training-button v-bind:settings="trainBtnData"></training-button>

    <section v-if="errored">
        <p>We're sorry, we're not able to retrieve this information at the moment, please try back later</p>
    </section>
    
    <section v-else>
        <div v-if="loading">Loading...</div>
        <div v-else-if="showHistory">
            <p v-for="content in history" :key="content.id">{{ '{{ content.name }}' }} read on: {{ '{{ content.read_date }}' }} rated: {{ '{{ content.rating }}' }}</p>
        </div> 
        <div
        v-else
        v-for="content in info" :key="content.id"
        >
            <div class="line"></div>
            <h2>{{ '{{ content.name }}'}} </h2>
            <h3>{{ '{{ content.language }}'}} </h3>
            <h3>Level: {{ '{{ content.level }}'}} </h3>
            <p>Published Date:  {{ '{{ content.pub_date }} '}} </p>
            <a v-bind:href="`${content.url}`" target="_blank">{{ '{{ content.url }} '}}</a>
            <button id="show-modal" @click="contentClicked(content)">Read</button>
            <modal v-if="showModal" @close="showModal = false">
                <!--
                  you can use custom content here to overwrite
                  default content
                -->
                <div slot="body" id="myFrame" style="height:70%;width:100%">{{ '{{ modalData.body }} '}}</div>
                <h3 slot="header">{{ '{{ modalData.name }}' }}</h3>
            </modal>
            <div id="rating">
                <button v-on:click="articleRated(content.id, 'easy')" class="btn easy">Too Easy</button>
                <button v-on:click="articleRated(content.id, 'same')" class="btn same">Just Right</button>
                <button v-on:click="articleRated(content.id, 'hard')" class="btn hard">Too Hard</button>
            </div>
        </div>
    </section>
  </div>