
{% extends 'base.html' %}

{% block css_style %}

  <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
      <link rel="stylesheet" href="https://mobirise.com/html-templates/ecommerce/assets/mobirise/css/mbr-additional.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='theme_style.css') }}">	
    <link rel="stylesheet" href="{{ url_for('static', filename='mobirise-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='mobirise-icons-bold.css') }}">
{% endblock css_style %}

{% block content %}
<section class="header7 cid-qIoWJUOnqf mbr-parallax-background" id="header1-1">

    

    

    <div class="container text-content">

        <h4 class="mbr-section-subtitle mbr-fonts-style align-center mbr-white display-5">WANT TO LEARN A LANGUAGE AND TO HAVE SOME FUN?</h4>

        <h1 class="mbr-section-title pb-3 mbr-fonts-style mbr-white align-center display-1">JOIN US ON CASSIOPEIA</h1>
        <p class="mbr-text pb-3 mbr-fonts-style mbr-white align-center display-7">Our site was created by a group of language geeks who also happen to be passionate about the power of computers. </p>
        <div class="mbr-section-btn pb-5 align-center"><a class="btn btn-md btn-bgr btn-info display-4" href="/register">Sign Up Today</a></div>
    </div>
    <div class="container mbr-black">
        <div class="row justify-content-center">
            <div class="box-item col-md-4">
                <h4 class="box-item-title pb-3 mbr-fonts-style align-center display-5">No More Textbook</h4>
                <p class="box-item-text mbr-fonts-style align-center display-7">You are learning the real languages, written by people for real people. You won't waste time in learning old-fashioned vocabularies that no one uses anymore.</p>
            </div>
            <div class="box-item col-md-4">
                <h4 class="box-item-title pb-3 mbr-fonts-style align-center display-5">Customized For Your Progress</h4>
                <p class="box-item-text mbr-fonts-style align-center display-7">As your learning journey unfolds, our app keeps track of your progress and uses the state-of-art machine learning technology to push learning materials suitable for you, using the feedback from you. </p>
            </div>
            <div class="box-item col-md-4">
                <h4 class="box-item-title pb-3 mbr-fonts-style align-center display-5">A Variety of Topics</h4>
                <p class="box-item-text mbr-fonts-style align-center display-7">Here you will have a most diversed and fun learning experience. It is completely up to you to pick your favorite topic. No more boring content!</p>
            </div>
        </div>
    </div>
</section>

<section class="cid-qIp7KFGlXe" id="content7-8">

    

    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-12 align-center">
                
                <h2 class="mbr-section-title align-center mbr-fonts-style mbr-bold display-2"><span style="font-weight: normal;">Learning on Cassiopeia is a simple as ...</span></h2>
            </div>
        </div>
    </div>
</section>

<section class="features16 cid-qIp0qVn2Fg" id="features16-5">

    

    
    <div class="container">
        <div class="row main align-items-center">
            <div class="col-md-6 image-element ">
                <div class="img-wrap">
                    <img src="{{ url_for('static', filename='about-us-1.jpg')}}" alt="" title="">
                </div>
            </div>
            <div class="col-md-6 text-element">
                <div class="text-content">
                    
                    <h2 class="mbr-title pt-2 mbr-fonts-style align-left display-2">Telling us about you</h2>
                    <div class="mbr-section-text">
                        <p class="mbr-text pt-3 mbr-light mbr-fonts-style align-left display-7">
                            When you register on Cassiopeia, we will ask you some simple questions to get you started, such as which language do you want to learn, how advanced are you and what topics do you enjoy reading. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>          
</section>

<section class="features17 cid-qIp0uk8TbN" id="features17-6">

    

    
    <div class="container">
        <div class="row main align-items-center">
            <div class="col-md-6 image-element">
                <div class="img-wrap">
                    <img src="{{ url_for('static', filename='about-us-2.jpg') }}" alt="" title="">
                </div>
            </div>
            <div class="col-md-6 text-element">
                <div class="text-content">
                    
                    <h2 class="mbr-title pt-2 mbr-fonts-style align-left mbr-white display-2">Starting to read</h2>
                    <div class="mbr-section-text">
                        <p class="mbr-text pt-3 mbr-light mbr-fonts-style align-left mbr-white display-5">
                            Once logged in, our system will push content that matches your level and interest. Browse the list of articles and choose the most interesting ones to start on. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>          
</section>

<section class="features16 cid-qIp0qVn2Fg" id="features16-5">

    

    
    <div class="container">
        <div class="row main align-items-center">
            <div class="col-md-6 image-element ">
                <div class="img-wrap">
                    <img src="{{ url_for('static', filename='about-us-3.jpg') }}" alt="" title="">
                </div>
            </div>
            <div class="col-md-6 text-element">
                <div class="text-content">
                    
                    <h2 class="mbr-title pt-2 mbr-fonts-style align-left display-2">Rating the articles</h2>
                    <div class="mbr-section-text">
                        <p class="mbr-text pt-3 mbr-light mbr-fonts-style align-left display-7">
                            You can let us know if an article is too easy, too hard or just right for you. The feedback will be taken into account for your future content push. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>          
</section>


{% endblock content %}